---
import { Image } from "astro:assets";
import heroImage from "../assets/app-screenshot.webp";
---

<section class="flex flex-col items-center justify-center">
    <Image src={heroImage} alt="Hero Image" width={1000} height={1000} />
</section>