---
const { icon: Icon, title } = Astro.props;
---

<div class="flex flex-row gap-2 items-center">
  <div
    class="flex items-center justify-center text-center bg-surface-1 border border-white/10 rounded-full p-4 text-brand-blue"
  >
    <Icon class="text-brand-blue w-24 h-24" />
  </div>
  <p class="text-sm md:text-base font-semibold text-white">{title}</p>
</div>
