---
import "../styles/global.css";
import Navigation from "../components/Navigation.tsx";

interface Props {
  title: string;
  showNav?: boolean;
}

const { title, showNav = true } = Astro.props as Props;
---

<!doctype html>
<html lang="da-DK">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#385DC6" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#385DC6" media="(prefers-color-scheme: dark)" />
    <title>{title}</title>
  </head>
  <body>
    {showNav && <Navigation client:load />}
    <slot />
    <script>
      import { initReveal } from "../scripts/reveal.ts";
      initReveal();
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
